<div>
    <h1>Meals</h1>
    <div>
        <app-status-filter></app-status-filter>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="mealService.filteredMeals.length > 0"
            >
                <tr
                    *ngFor="let meal of mealService.filteredMeals"
                >
                    <td [routerLink]="['/', 'meals', meal.id]">{{ meal.name }}</td>
                    <td [routerLink]="['/', 'meals', meal.id]">{{ meal.price }}</td>
                    <td [routerLink]="['/', 'meals', meal.id]">{{ meal.description }}</td>
                    <td [routerLink]="['/', 'meals', meal.id]">{{ meal.discount }}</td>
                    <app-cart-add
                        *ngIf="meal"
                        [meal]="meal"
                    ></app-cart-add>
                    <app-meal-delete
                        *ngIf="meal"
                        [meal]="meal"
                    ></app-meal-delete>
                </tr>
            </ng-container>
            <tr
                *ngIf="mealService.filteredMeals.length === 0"
            >
                <td
                    colspan="3"
                >No meals</td>
            </tr>
        </tbody>
    </table>
</div>