<mat-toolbar color="primary">
  <button
        mat-button
        routerLink="/meals"
    >
      <mat-icon>home</mat-icon>
      GOGO hami
  </button>
  <ng-container
        *ngIf="authService.isLoggedIn"
    >
        <button
            mat-button
            routerLink="/meals"
        >
          Meals
        </button>
        <button
            mat-button
            routerLink="/meals/new"
            *appRole="[UserRole.Admin]"
        >
          New meal
        </button>
        <button
            mat-button
            routerLink="/cart"
            *appRole="[UserRole.Admin, UserRole.User]"
        >
          Cart
        </button>
        <button
            mat-button
            routerLink="/orderings"
            *appRole="[UserRole.Admin, UserRole.User]"
        >
          My orders
        </button>
        <button mat-button (click)="authService.logout()">Log out</button>
    </ng-container>
    <ng-container
        *ngIf="!authService.isLoggedIn"
    >
        <button mat-button routerLink="/login">Login</button>
    </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
