<mat-toolbar color="primary">
  <button
        mat-button
        routerLink="/meals"
    >
      <mat-icon>home</mat-icon>
      Etkezde
  </button>
  <ng-container
        *ngIf="authService.isLoggedIn"
    >
        <button
            mat-button
            routerLink="/meals"
        >
          Kaják
        </button>
        <button
            mat-button
            routerLink="/meals/new"
            *appRole="[UserRole.Admin]"
        >
          Új kaja
        </button>
        <button
            mat-button
            routerLink="/cart"
            *appRole="[UserRole.Admin, UserRole.User]"
        >
          Kosár
        </button>
        <button
            mat-button
            routerLink="/orderings"
            *appRole="[UserRole.Admin, UserRole.User]"
        >
          Rendeléseim
        </button>
        <button mat-button (click)="authService.logout()">Kijelentkezés</button>
    </ng-container>
    <ng-container
        *ngIf="!authService.isLoggedIn"
    >
        <button mat-button routerLink="/login">Bejelentkezés</button>
    </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
