<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            <ng-container
                *ngIf="mealService.cartMeals.length > 0"
            >
                <tr
                    *ngFor="let meal of mealService.cartMeals"
                >
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.price }}</td>
                    <td>{{ meal.description }}</td>
                    <td>{{ meal.discount }}</td>
                    <button mat-button (click)="removeFromCart()">Delete</button>
                </tr>
            </ng-container>
            <tr
                *ngIf="mealService.cartMeals.length === 0"
            >
                <td
                    colspan="3"
                >No meals</td>
            </tr>
            <button mat-button (click)="placeOrder()">Place order</button>
        </tbody>
    </table>
</div>