<form #form="ngForm" (ngSubmit)="submitMeal(form.form)">
  <div>
    <mat-form-field>
        <input
        matInput
        placeholder="Name"
        [(ngModel)]="meal.name"
        name="name"
        required
        #name="ngModel"
      />
      <mat-error
        *ngIf="
        name.invalid &&
          (name.touched || name.dirty) &&
          name.errors['required']
        "
      >
        Name is required!
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
          matInput
          placeholder="Price"
          type="number"
          value=""
          [(ngModel)]="meal.price"
          name="price"
          required
          #price="ngModel"
      />
      <mat-error *ngIf="price.invalid && (price.touched || price.dirty) && price.errors['required']">
          Price is required!
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea
          [(ngModel)]="meal.description"
          name="description"
          matInput
          placeholder="Description"
          value=""
      ></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary">Create</button>
  </div>
</form>
